* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background: #000 !important;
  color: #0f0;
  font-family: 'Courier New', monospace;
  overflow: hidden;
}

::-webkit-scrollbar { display: none; }